{% extends "layout.html" %}

{% block title %}
    Bought
{% endblock %}

{% block main %}
    <form action="/watched" method="POST">
        <div>
            <iframe width="840" height="630" style="position: absolute; top: 120px; left: 550px;"
            src="{{ link }}">
            </iframe>
        </div>
        <div>
            <iframe src="http://deadsimplechat.com/+6TDam" width="300px" height="615px" style="position: absolute; top: 0 px, left: 0px"></iframe>
        </div>
    </form>
{% endblock %}